@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .rotateLoader {
    animation: rotateLoader 2s linear infinite;
  }

  @keyframes rotateLoader {
    from {
      rotate: 0deg;
    }
    to {
      rotate: 360deg;
    }
  }

  #navBar a.active {
    color: theme("colors.purple.600") !important;
  }
}
